<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Editit</title>
  <style>
    body{
      background: black;
    }
  </style>
</head>
<body class="bg-black">
  
  <nav class="navbar bg-body-tertiary bg-dark border-bottom border-body " data-bs-theme="dark">
    <div class="container-fluid mx-5">
      <div>
        <a class="navbar-brand" href="/">
          <img src="../static/images/logo.png" alt="Logo" width="35" height="30"
          class="d-inline-block align-text-top rounded bg-black">
          <span class="h3 mx-2 text-light">Editit</span>
        </a>
    </div>
    <div class="h2 text-danger  mx-auto">About</div>
      
      <div>
        
        <button class="btn btn-outline-success me-3" type="button">Sign In</button>
        <button class="btn btn-outline-success me-3" type="button">Sign Up</button>
      </div>
    </div>
  </nav>

  
  
</body>
</html>