<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Editit</title>
  <style>
    body {
      background: black;
    }
  </style>
</head>

<body class="bg-black">

  <nav class="navbar bg-body-tertiary bg-dark border-bottom border-body " data-bs-theme="dark">
    <div class="container-fluid mx-5">
      <div>
        <a class="navbar-brand" href="/">
          <img src="../static/images/logo.png" alt="Logo" width="35" height="30"
            class="d-inline-block align-text-top rounded bg-black">
        </a>
        <span class="h3 text-light">Editit</span>
        <span class="h3 text-light mx-4"><a class="text-light" href="/about">About Us</a></span>
      </div>


      <div>

        <button class="btn btn-outline-success me-3" type="button">Sign In</button>
        <button class="btn btn-outline-success me-3" type="button">Sign Up</button>
      </div>
    </div>
  </nav>

  <div class="container text-center" style="margin-top: 8em;">
    <div class="row ">
      <div class="col">
        <div class="card my-2" style="background: #f4f28f;width: 30em;height: 20em">
          <div class="card-body">
            <h5 class="card-title display-4">Image Editing</h5>
            <ul class="list-unstyled ">
              <li>Color changing</li>
              <li>Image format change</li>
              <li>black and white image enhancer</li>
            </ul>
            <div class="card-footer" style="align-items: baseline;">
              <a href="/image_edit" class="align-self-end btn btn-lg btn-block btn-success">Edit Image</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background-color: #f4f28f; width: 30em;height: 20em">
          <div class="card-body">
            <h5 class="card-title display-4">Video Editing</h5>
            <ul class="list-unstyled ">
              <li>Color changing</li>
              <li>Changing video length</li>
              <li>fast forward or slowmo</li>
            </ul>
            <div class="card-footer" style="align-items: baseline;">
              <a href="/video_edit" class="align-self-end btn btn-lg btn-block btn-success">Edit Video</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>